<header class="header">
  <img src="/assets/images/header-about.png">
</header>

<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <h2 class="mb-2">
          <span class="icon-text">
            <span class="icon mr-4">
              <i class="fa-solid fa-route"></i>
            </span>
            <span>reis op maat met jouw maat op reis</span>
          </span>
        </h2>

        <p class="is-lead">reismaat is jouw reisplanner voor al het openbaar vervoer in Ihlane. Met onze website plan je alle reizen met het openbaar vervoer en natransport zonder gedoe. Koop en verzamel alle benodigde tickets voor je reis zonder extra kosten.</p>

        <a class="button is-medium is-primary is-rounded" href="/" data-navigo>
          <span class="icon">
            <i class="fa-solid fa-route"></i>
          </span>
          <span>Plan je reis</span>
          <span class="icon">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child box is-primary">
        <h3 class="has-text-white">onze partners</h3>

        <p class="has-text-white">reismaat is oorspronkelijk een initiatief van Ferrovie Urbignesi, Ihlaanse Spoorwegen en ArlOV. Wij werken samen met alle openbaarvervoersbedrijven en verschillende deelvervoerders in Ihlane:</p>

        <div class="columns is-multiline">
          {{#feed.agencies}}
            <div class="column is-half-tablet is-one-third-widescreen">
              {{> feed/agency_box_link}}
            </div>
          {{/feed.agencies}}
        </div>
      </div>
    </div>

    <div class="tile">
      <div class="tile is-6 is-parent">
        <div class="tile is-child box">
          <h3>hulp nodig?</h3>

          <div class="box has-background-light mb-3">
            <p class="mb-0">
              <a class="is-unselectable has-text-weight-bold" data-collapse="faq_1">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-chevron-down"></i>
                  </span>
                </span>
                <span>Met welke betaalmiddelen kan ik tickets kopen?</span>
              </a>
            </p>

            <div class="collapse mt-4" id="faq_1" data-slide>
              <p>Tickets voor het openbaar vervoer koop je vooraf via de website en kun je betalen met Pay.ih. Reizen met deelvervoer worden achteraf verrekend; hiervoor dien je een account te maken en een betaalmethode toe te voegen bij de betreffende deelvervoerder.</p>
            </div>
          </div>

          <div class="box has-background-light mb-3">
            <p class="mb-0">
              <a class="is-unselectable has-text-weight-bold" data-collapse="faq_2">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-chevron-down"></i>
                  </span>
                </span>
                <span>In welke talen is reismaat beschikbaar?</span>
              </a>
            </p>

            <div class="collapse mt-4" id="faq_2" data-slide>
              <p>De website is beschikbaar in het Nederlands, en binnenkort ook in het Engels, Italiaans en Arabisch.</p>
            </div>
          </div>

          <div class="box has-background-light mb-3">
            <p class="mb-0">
              <a class="is-unselectable has-text-weight-bold" data-collapse="faq_3">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-chevron-down"></i>
                  </span>
                </span>
                <span>Wat als ik andere vragen heb?</span>
              </a>
            </p>

            <div class="collapse mt-4" id="faq_3" data-slide>
              <p>Neem contact met ons op via een van de hiernaast getoonde methodes en stel je vraag, dan proberen we deze zo snel mogelijk te beantwoorden!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tile is-6 is-parent">
        <div class="tile is-child box">
          <h3>contact</h3>

          <p>Voor al je vragen of opmerkingen kun je contact opnemen met Reismaat B.V. via een de onderstaande methodes:</p>

          <p class="has-text-weight-bold mb-2">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-phone"></i>
              </span>
              <span>Telefonisch</span>
            </span>
          </p>

          <p class="mb-1">02-287 9992</p>
          <p class="is-size-7 has-text-grey">op werkdagen van 7:30 tot 21:00 uur<br>op weekend- en feestdagen tussen 8:30 en 17:00 uur</p>

          <p class="has-text-weight-bold mb-2">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-envelope-open-text"></i>
              </span>
              <span>Postadres</span>
            </span>
          </p>

          <p>Postbus 92, 029992 Ulstheim</p>

          <p class="has-text-weight-bold mb-2">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-building"></i>
              </span>
              <span>Bezoekadres</span>
            </span>
          </p>

          <p class="mb-1">Forumtoren, 6e verdieping<br>Forum 21, 010301 Arloheim-Nieuwe Stad</p>
          <p class="is-size-7 has-text-grey">op werkdagen van 8:30 tot 17:00 uur</p>
        </div>
      </div>
    </div>
  </div>
</div>
