<header class="header">
  <img src="/assets/images/header-home.png">
</header>

<div class="tile is-ancestor">
  <div class="tile is-4 is-parent">
    {{> tiles/action_planner}}
  </div>

  <div class="tile is-8 is-vertical is-parent">
    {{> tiles/action_notifications}}

    <div class="tile is-child box has-text-white has-background-primary">
      <h3 class="has-text-white">goed voorbereid op pad</h3>

      <div class="tile is-ancestor">
        <div class="tile is-6 is-vertical is-parent">
          {{> tiles/action_tickets}}

          {{> tiles/action_routes}}
        </div>

        <div class="tile is-6 is-parent">
          {{> tiles/action_nodes}}
        </div>
      </div>
    </div>
  </div>
</div>
