<header class="header">
  <img src="/assets/images/header-home.png">
</header>

<div class="tile is-ancestor">
  <div class="tile is-4 is-parent">
    {{> pages/home/planner}}
  </div>

  <div class="tile is-8 is-vertical is-parent">
    {{> pages/home/notifications}}

    {{> pages/home/actions}}
  </div>
</div>
