<header class="header">
  <img src="/assets/images/header-nodes.png">
</header>

{{#node}}
  <div class="box has-background-white">
    <h2 class="mb-2">
      <span class="icon-text">
        <span class="icon mr-4">
          <i class="fa-solid fa-{{icon}}"></i>
        </span>
        <span>{{modalityNodeName}} {{name}}</span>
      </span>
    </h2>

    <p>
      {{modalityNodeName}} {{#city}}in {{.}}{{/city}}, bediend door {{allOwnRoutes.length}} lijnen.
    </p>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-7 is-vertical is-parent">
      {{#allTransferNodes.length}}
        {{> tiles/nodes_details_transfers}}
      {{/allTransferNodes.length}}

      {{> tiles/nodes_details_routes}}
    </div>

    <div class="tile is-5 is-parent">
      {{> tiles/nodes_details_services}}
    </div>
  </div>
{{/node}}
