<header class="header">
  <img src="/assets/images/header-nodes.png">
</header>

{{#node}}
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile is-parent">
        {{> pages/nodes_details/title}}
      </div>

      <div class="tile">
        <div class="tile is-6 is-vertical is-parent">
          {{#allTransferNodes.length}}
            {{> pages/nodes_details/transfers}}
          {{/allTransferNodes.length}}

          {{> pages/nodes_details/routes}}
        </div>

        <div class="tile is-6 is-vertical is-parent">
          {{> pages/nodes_details/notifications}}

          {{> pages/nodes_details/services}}
        </div>
      </div>
    </div>
  </div>
{{/node}}
