<header class="header">
  <img src="/assets/images/header-notifications.png">
</header>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-parent">
    {{> pages/notifications/title}}

    {{#feed.includedNotifications}}
      {{> pages/notifications/notification}}
    {{/feed.includedNotifications}}
  </div>
</div>
