<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box is-flex-grow-0">
      <h3>reisadviezen</h3>

      {{#journeys}}
        {{> components/journey_link}}
      {{/journeys}}
    </div>

    {{> pages/home/planner}}
  </div>

  <div class="tile is-8 is-vertical is-parent">
    {{#journeys}}
      <div class="collapse" id="journey_{{index}}" data-group="journeys">
        {{> pages/planner/journey}}
      </div>
    {{/journeys}}
  </div>
</div>
