<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child is-flex-grow-0 box has-background-white">
      <h3>reisadviezen</h3>

      {{#journeys}}
        {{> components/journey_link}}
      {{/journeys}}
    </div>

    {{> pages/home/planner}}
  </div>

  <div class="tile is-8 is-parent">
    <div class="tile is-child box has-background-primary">
      <h3 class="has-text-white mb-4">reisadvies van {{from.name}} naar {{to.name}}</h3>

      {{#journeys}}
        <div class="collapse" id="journey_{{index}}" data-group="journeys">
          {{> components/journey_details}}
        </div>
      {{/journeys}}
    </div>
  </div>
</div>
