<header class="header">
  <img src="/assets/images/header-routes.png">
</header>

{{#route}}
  <div class="tile is-ancestor">
    <div class="tile is-7 is-parent">
      {{> pages/routes_details/stops}}
    </div>

    <div class="tile is-5 is-parent">
      {{> pages/routes_details/route}}
    </div>
  </div>
{{/route}}
