<header class="header">
  <img src="/assets/images/header-tickets.png">
</header>

<div class="box has-background-white">
  <h2 class="mb-2">
    <span class="icon-text">
      <span class="icon mr-4">
        <i class="fa-solid fa-ticket"></i>
      </span>
      <span>tickets</span>
    </span>
  </h2>

  <p>Bekijk hier informatie over vervoersbewijzen voor het hele land voor elk vervoermiddel, en blader door voordelige dagtickets en aanbiedingen.</p>
</div>
