<div class="tile is-ancestor">
  <div class="tile is-4 is-parent">
    <div class="tile is-child box">
      <h3>plan je reis</h3>

      <div class="field">
        <div class="control is-expanded">
          <label class="label">bestemmingen</label>
          <div class="dropdown is-fullwidth">
            <div class="dropdown-trigger">
              <input class="input node-input" type="text" placeholder="van station, halte of plaats" id="from">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <div class="dropdown is-fullwidth">
            <div class="dropdown-trigger">
              <input class="input node-input" type="text" placeholder="naar station, halte of plaats" id="to">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control is-expanded">
          <label class="label">datum en tijd</label>
          <div class="dropdown is-fullwidth">
            <div class="dropdown-trigger">
              <input class="input" type="datetime-local" placeholder="nu" id="datetime">
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="label">extra opties</label>

          <label class="checkbox">
            <input type="checkbox" class="mx-1">
            <span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Plan louter routes die geen gebruik maken van besloten vervoerssystemen, zoals de hyperloop.">
              Geen besloten vervoer
            </span>
          </label>

          <label class="checkbox">
            <input type="checkbox" class="mx-1">
            <span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Plan 5 minuten extra tijd in tussen overstappen.">
              Extra overstaptijd inplannen
            </span>
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <a class="button is-primary is-rounded">
            <span class="icon">
              <i class="fa-solid fa-route"></i>
            </span>
            <span>Plan je reis</span>
            <span class="icon">
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="tile is-8 is-vertical is-parent">
    <div class="tile is-child box {{#hasNotifications}}has-background-warning{{/hasNotifications}}">
      <h3>er zijn {{notifications.length}} meldingen over de situatie in het ov</h3>

      <a class="button is-dark is-rounded"  href="/meldingen" data-navigo>
        <span>Bekijk de verstoringen</span>
        <span class="icon">
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </a>
    </div>

    <div class="tile is-child box has-text-white has-background-primary">
      <h3 class="has-text-white">goed voorbereid op pad</h3>

      <div class="tile is-ancestor">
        <div class="tile is-6 is-vertical is-parent">
          <div class="tile is-child box">
            <h2 class="mb-2">
              <span class="icon-text">
                <span class="icon mr-4">
                  <i class="fa-solid fa-ticket"></i>
                </span>
                <span>tickets</span>
              </span>
            </h2>

            <ul>
              <li>Vervoersbewijzen voor het hele land</li>
              <li>Geldig voor elk vervoersmiddel</li>
              <li>Voordelige dagtickets en aanbiedingen</li>
            </ul>

            <a class="button is-dark is-rounded"  href="/tickets" data-navigo>
              <span>Bekijk alle tickets</span>
              <span class="icon">
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
          </div>

          <div class="tile is-child box">
            <h2 class="mb-2">
              <span class="icon-text">
                <span class="icon mr-4">
                  <i class="fa-solid fa-timeline"></i>
                </span>
                <span>dienstregeling</span>
              </span>
            </h2>

            <ul>
              <li>Informatie over trein, metro en tram</li>
              <li>Overzicht van alle lijnen en vervoerders</li>
            </ul>

            <a class="button is-dark is-rounded"  href="/dienstregeling" data-navigo>
              <span>Bekijk de dienstregeling</span>
              <span class="icon">
                <i class="fa-solid fa-arrow-right"></i>
              </span>
            </a>
          </div>
        </div>

        <div class="tile is-6 is-parent">
          <div class="tile is-child box">
            <h2 class="mb-2">
              <span class="icon-text">
                <span class="icon mr-4">
                  <i class="fa-solid fa-circle-info"></i>
                </span>
                <span>stations</span>
              </span>
            </h2>

            <p>Bekijk vertrektijden en voorzieningen van de stations en haltes in Ihlane:</p>

            <div class="field has-addons mb-5">
              <div class="control is-expanded">
                <div class="dropdown is-fullwidth">
                  <div class="dropdown-trigger">
                    <input class="input node-input" type="text" placeholder="station, halte of plaats" id="node">
                  </div>
                </div>
              </div>

              <div class="control">
                <a class="button is-dark">
                  <span class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                </a>
              </div>
            </div>

            <p>Of ga direct naar deze stations:</p>

            <ul>
              <li><a href="/stations/nsb_arfo" data-navigo>Arloheim Forum</a></li>
              <li><a href="/stations/nsb_ar" data-navigo>Arloheim Centraal</a></li>
              <li><a href="/stations/nsb_arc" data-navigo>Arloheim Campus</a></li>
              <li><a href="/stations/nsb_av" data-navigo>Amsvorde Centraal</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
