<div class="tile is-child box has-background-white">
  <h3>dienstregeling</h3>

  {{#nodeRoutes}}
    {{^stop.isLastStop}}
      <div class="journey-row">
        {{> components/journey_cell_route}}

        {{#stop.platform}}
          {{> components/journey_cell_platform}}
        {{/stop.platform}}
      </div>
    {{/stop.isLastStop}}
  {{/nodeRoutes}}
</div>
