<div class="tile is-child box has-background-white">
  <h3>haltes</h3>

  <!-- First stop at {{firstStop.node.name}} -->
  <div class="journey-row is-bold">
    <div class="journey-cell is-line">
      <span class="line is-start"></span>
      <span class="icon has-text-primary">
        <i class="fa-solid fa-fw fa-circle-dot"></i>
      </span>
    </div>

    {{#firstStop.node}}
      {{> components/journey_cell_node}}
    {{/firstStop.node}}

    {{#firstStop.platform}}
      {{> components/journey_cell_platform}}
    {{/firstStop.platform}}
  </div>

  <!-- Intermediate stops -->
  {{#intermediateStops}}
    <!-- Intermediate stop at {{node.name}} -->
    <div class="journey-row">
      <div class="journey-cell is-line">
        <span class="line"></span>
        <span class="icon has-text-primary">
          <i class="fa-solid fa-fw fa-circle"></i>
        </span>
      </div>

      {{#node}}
        {{> components/journey_cell_node}}
      {{/node}}

      {{#platform}}
        {{> components/journey_cell_platform}}
      {{/platform}}
    </div>
  {{/intermediateStops}}

  <!-- Last stop at {{lastStop.node.name}} -->
  <div class="journey-row is-bold">

    <div class="journey-cell is-line">
      <span class="line is-end"></span>
      <span class="icon has-text-primary">
        <i class="fa-solid fa-fw fa-circle-dot"></i>
      </span>
    </div>

    {{#lastStop.node}}
      {{> components/journey_cell_node}}
    {{/lastStop.node}}

    {{#lastStop.platform}}
      {{> components/journey_cell_platform}}
    {{/lastStop.platform}}
  </div>
</div>
