<div class="journey-cell is-node">
  <p>
    <span class="icon-text">
      <span {{#status}}class="is-{{.}}"{{/status}}>{{> feed/node_short_link}}</span>

      {{#additional}}
        <span class="is-additional-label ml-1">(extra stop)</span>
      {{/additional}}

      {{#cancelled}}
        <span class="is-cancelled-label ml-1">(vervalt)</span>
      {{/cancelled}}
    </span>
  </p>

  {{#changedHeadsign}}
    {{^useStopHeadsign}}
      {{#first}}
        <p class="is-muted">Rijdt richting {{headsign}}</p>
      {{/first}}
    {{/useStopHeadsign}}

    {{^first}}
      <p class="is-muted">Rijdt vanaf hier richting {{headsign}}</p>
    {{/first}}
  {{/changedHeadsign}}

  {{#last}}
    {{#useStopHeadsign}}
      {{#alightDirection}}
        {{#alightLeft}}<p class="is-muted">Links uitstappen</p>{{/alightLeft}}
        {{#alightRight}}<p class="is-muted">Rechts uitstappen</p>{{/alightRight}}
      {{/alightDirection}}
    {{/useStopHeadsign}}
  {{/last}}
</div>