<div class="journey-link is-active">
  <a class="is-overlay" data-collapse="journey_{{index}}"></a>

  <p class="mb-2">
    <span class="icon-text">
      <span class="has-text-weight-bold">{{formattedDepartureTime}}</span>
      <span class="icon">
        <i class="fa-solid fa-arrow-right"></i>
      </span>
      <span class="has-text-weight-bold mr-3">{{formattedArrivalTime}}</span>

      <span class="icon">
        <i class="fa-solid fa-clock"></i>
      </span>
      <span class="mr-3">{{formattedDuration}}</span>

      <span class="icon">
        <i class="fa-solid fa-repeat"></i>
      </span>
      <span>{{transfers}}</span>
    </span>
  </p>

  <p>
    {{#legs}}
      {{#route}}
        {{> feed/route_short}}

        {{^last}}
          <span class="icon">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        {{/last}}
      {{/route}}

      {{#transfer}}
        <span class="icon">
          <i class="fa-solid fa-person-walking"></i>
        </span>

        {{^last}}
          <span class="icon">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        {{/last}}
      {{/transfer}}
    {{/legs}}
  </p>
</div>
