<div class="box has-background-white mb-3 py-3">
  <div class="level is-align-items-end">
    <div class="level-left">
      <div class="level-item mr-6">
        <div>
          <p class="mb-0">vertrek</p>
          <p class="title has-text-primary has-text-weight-light">{{formattedDepartureTime}}</p>
        </div>
      </div>

      <div class="level-item mr-6">
        <div>
          <p class="mb-0">aankomst</p>
          <p class="title has-text-primary has-text-weight-light">{{formattedArrivalTime}}</p>
        </div>
      </div>

      <div class="level-item mr-6">
        <div>
          <p class="mb-0">duur</p>
          <p class="title has-text-primary has-text-weight-light">{{formattedDuration}}</p>
        </div>
      </div>

      <div class="level-item mr-6">
        <div>
          <p class="mb-0">overstaps</p>
          <p class="title has-text-primary has-text-weight-light">{{transfers}}×</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  {{#firstLegIsTransfer}}
    <div class="journey-box is-route">
      <table class="table journey-table">
        <tr>
          <td class="has-text-right has-text-weight-bold" style="width: 4rem;">{{formattedDepartureTime}}</td>
          <td class="line" style="width: 3rem;">
            <span class="icon has-text-primary">
              <i class="fa-solid fa-fw fa-{{departureNode.icon}}"></i>
            </span>
          </td>
          <td class="has-text-weight-bold">{{departureNode.name}}</td>
          <td class="has-text-right has-text-weight-bold" style="width: 7.5rem;">&nbsp;</td>
        </tr>
      </table>
    </div>
  {{/firstLegIsTransfer}}

  {{#legs}}
    {{#route}}
      {{> components/journey_box_route}}
    {{/route}}

    {{#transfer}}
      {{> components/journey_box_transfer}}
    {{/transfer}}
  {{/legs}}

  {{#lastLegIsTransfer}}
    <div class="journey-box is-route">
      <table class="table journey-table">
        <tr>
          <td class="has-text-right has-text-weight-bold" style="width: 4rem;">{{formattedArrivalTime}}</td>
          <td class="line" style="width: 3rem;">
            <span class="icon has-text-primary">
              <i class="fa-solid fa-fw fa-{{arrivalNode.icon}}"></i>
            </span>
          </td>
          <td class="has-text-weight-bold">{{arrivalNode.name}}</td>
          <td class="has-text-right has-text-weight-bold" style="width: 7.5rem;">&nbsp;</td>
        </tr>
      </table>
    </div>
  {{/lastLegIsTransfer}}
</div>
