<div class="journey-cell is-node">
  {{#route}}
    <p>
      <span {{#stop.status}}class="is-{{.}}"{{/stop.status}}>{{> feed/route_long_link}}</span>

      {{#stop.additional}}
        <span class="is-additional-label">(extra stop)</span>
      {{/stop.additional}}

      {{#stop.cancelled}}
        <span class="is-cancelled-label">(rijdt niet)</span>
      {{/stop.cancelled}}
    </p>
  {{/route}}
</div>
