<div class="journey-box is-transfer">
  <!-- Transfer from {{transfer.between}} to {{transfer.and}} -->
  <div class="journey-row">
    <div class="journey-cell is-time"></div>

    <div class="journey-cell is-line">
      <span class="icon">
        <i class="fa-solid fa-fw fa-person-walking"></i>
      </span>
    </div>

    <div class="journey-cell is-node">
      {{transfer.formattedTime}} minuten lopen naar {{lastNode.name}}
    </div>
  </div>
</div>
