<div class="journey-cell is-node">
  <p>
    <span {{#status}}class="is-{{.}}"{{/status}}>{{> feed/node_short_link}}</span>

    {{#additional}}
      <span class="is-additional-label">(extra stop)</span>
    {{/additional}}

    {{#cancelled}}
      <span class="is-cancelled-label">(vervalt)</span>
    {{/cancelled}}
  </p>

  {{#changedHeadsign}}
    <p class="is-muted">Rijdt vanaf hier richting {{headsign}}</p>
  {{/changedHeadsign}}

  {{#last}}
    {{#alightDirection}}
      {{#alightLeft}}<p class="is-muted">Links uitstappen</p>{{/alightLeft}}
      {{#alightRight}}<p class="is-muted">Rechts uitstappen</p>{{/alightRight}}
    {{/alightDirection}}
  {{/last}}
</div>
