<div class="journey-cell is-platform">
  <p>
    <span class="icon-text">
      <span class="icon">
        <i class="fa-solid fa-window-maximize"></i>
      </span>
      <span>{{.}}</span>
    </span>
  </p>
</div>