<div class="journey-box is-route">
  {{#firstStop}}
    <!-- First stop at {{firstStop.node.name}} -->
    <div class="journey-row route-first-stop is-bold">
      {{#formattedTime}}
        {{> components/journey_cell_time}}
      {{/formattedTime}}

      <div class="journey-cell is-line">
        <span class="line is-start"></span>
        <span class="icon has-text-primary">
          <i class="fa-solid fa-fw fa-circle-dot"></i>
        </span>
      </div>

      {{#node}}
        {{> components/journey_cell_node}}
      {{/node}}

      {{#platform}}
        {{> components/journey_cell_platform}}
      {{/platform}}
    </div>
  {{/firstStop}}

  <!-- Route information -->
  <div class="journey-row route-info">
    <div class="journey-cell is-time"></div>

    <div class="journey-cell is-line">
      <span class="line"></span>
    </div>

    <div class="journey-cell is-node">
      <p>
        <a class="is-plain" href="/dienstregeling/{{id}}" data-navigo>
          {{> feed/route_long}}
        </a>
      </p>
      <p class="is-muted">{{agency.name}}</p>
    </div>
  </div>

  <!-- Notifications -->
  {{#notifications.length}}
    <div class="journey-row route-notifications">
      <div class="journey-cell is-time"></div>

      <div class="journey-cell is-line">
        <span class="line"></span>
      </div>

      <div class="journey-cell is-node">
        {{#notifications}}
          {{> feed/notification}}
        {{/notifications}}
      </div>
    </div>
  {{/notifications.length}}

  <!-- Intermediate stops -->
  {{#intermediateStops.length}}
    <div class="journey-row route-collapse">
      <div class="journey-cell is-time"></div>

      <div class="journey-cell is-line">
        <span class="line"></span>
      </div>

      <div class="journey-cell is-node">
        <a class="is-unselectable" data-collapse="journey_{{index}}_{{id}}_stops">
          <span class="icon-text">
            <span class="icon">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
            <span>{{.}} tussenstops</span>
          </span>
        </a>
      </div>
    </div>

    <div class="collapse" id="journey_{{index}}_{{id}}_stops" data-slide>
      {{#intermediateStops}}
        <!-- Intermediate stop at {{node.name}} -->
        <div class="journey-row route-intermediate-stop">
          {{#formattedTime}}
            {{> components/journey_cell_time}}
          {{/formattedTime}}

          <div class="journey-cell is-line">
            <span class="line"></span>
            <span class="icon has-text-primary">
              <i class="fa-solid fa-fw fa-circle"></i>
            </span>
          </div>

          {{#node}}
            {{> components/journey_cell_node}}
          {{/node}}

          {{#platform}}
            {{> components/journey_cell_platform}}
          {{/platform}}
        </div>
      {{/intermediateStops}}
    </div>
  {{/intermediateStops.length}}

  {{#lastStop}}
    <!-- Last stop at {{lastStop.node.name}} -->
    <div class="journey-row route-last-stop is-bold">
      {{#formattedTime}}
        {{> components/journey_cell_time}}
      {{/formattedTime}}

      <div class="journey-cell is-line">
        <span class="line is-end"></span>
        <span class="icon has-text-primary">
          <i class="fa-solid fa-fw fa-circle-dot"></i>
        </span>
      </div>

      {{#node}}
        {{> components/journey_cell_node}}
      {{/node}}

      {{#platform}}
        {{> components/journey_cell_platform}}
      {{/platform}}
    </div>
  {{/lastStop}}
</div>
