<div class="journey-cell is-modality">
  <p>
    <span class="icon-text has-text-grey">
      <span class="icon" style="width: 0.75rem;">
        {{#renderIcon}}{{/renderIcon}}
      </span>
    </span>
  </p>
</div>
