<div class="journey-box is-transfer">
  <!-- Transfer from {{between.name}} to {{and.name}} -->
  <div class="journey-row transfer">
    <div class="journey-cell is-time"></div>

    <div class="journey-cell is-line">
      <span class="icon">
        <i class="fa-solid fa-{{icon}}"></i>
      </span>
    </div>

    <div class="journey-cell is-node">
      {{formattedTime}} minuten lopen naar {{and.name}}
    </div>
  </div>
</div>
