<div class="journey-cell is-node">
  {{^cancelled}}
    <p>{{> feed/node_short}}</p>

    {{#isLastStop}}
      {{#alightDirection}}
        {{#alightLeft}}<p class="is-muted">Links uitstappen</p>{{/alightLeft}}
        {{#alightRight}}<p class="is-muted">Rechts uitstappen</p>{{/alightRight}}
      {{/alightDirection}}
    {{/isLastStop}}
  {{/cancelled}}

  {{#cancelled}}
    <p>
      <span class="is-cancelled">{{> feed/node_short}}</span>
      <span class="has-text-danger-dark has-text-weight-bold">(vervalt)</span>
    </p>
  {{/cancelled}}
</div>
