<div class="journey-cell is-node">
  {{^stop.cancelled}}
    {{#route}}
      <p>{{> feed/route_long_link}}</p>
    {{/route}}
  {{/stop.cancelled}}

  {{#stop.cancelled}}
    {{#route}}
      <p>
        <span class="is-cancelled">{{> feed/route_long_link}}</span>
        <span class="has-text-danger-dark has-text-weight-bold">(rijdt niet)</span>
      </p>
    {{/route}}
  {{/stop.cancelled}}
</div>
