<div class="journey-cell is-node">
  <p>
    <span {{#status}}class="is-{{.}}"{{/status}}>{{> feed/node_short_link}}</span>

    {{#additional}}
      <span class="is-additional-label">(extra stop)</span>
    {{/additional}}

    {{#cancelled}}
      <span class="is-cancelled-label">(vervalt)</span>
    {{/cancelled}}
  </p>
</div>
