<a class="is-plain" href="/stations/{{id}}" data-navigo>
  <span class="icon-text">
    <span class="icon">
      <i class="fa-solid fa-{{icon}}"></i>
    </span>
    <span>{{modalityNodeName}} {{name}}</span>
  </span>
</a>
