<span class="icon-text">
  <span class="icon">
    {{#renderIcon}}{{/renderIcon}}
  </span>
  <span>
    {{^abbr}}{{modalityName}}{{/abbr}}
    {{#abbr}}{{> feed/route_abbr}}{{/abbr}}
    richting
    {{#useStopHeadsign}}{{#firstStop}}{{headsign}}{{/firstStop}}{{/useStopHeadsign}}
    {{^useStopHeadsign}}{{headsign}}{{/useStopHeadsign}}
  </span>
</span>