<span class="icon-text">
  <span class="icon">
    <i class="fa-solid fa-{{icon}}"></i>
  </span>
  <span>
    {{^abbr}}{{modalityName}}{{/abbr}}
    {{#abbr}}<span class="route-abbr" style="background: {{color.background}}; color: {{color.text}};">{{abbr}}</span>{{/abbr}}
    richting {{#stop}}{{headsign}}{{/stop}} {{^stop}}{{headsign}}{{/stop}}
  </span>
</span>
