<span class="icon-text">
  <span class="icon">
    <i class="fa-solid fa-{{icon}}"></i>
  </span>
  <span>
    {{^abbr}}{{modalityName}}{{/abbr}}
    {{#abbr}}{{> feed/route_abbr}}{{/abbr}}
  </span>
</span>
