<div class="tile is-child box is-flex-grow-0">
  <h3 class="mb-4">informatie</h3>

  <p class="mb-0">{{> feed/route_long}}</p>
  <p class="is-muted">{{#abbr}}{{modalityName}} van {{/abbr}}{{agency.name}}</p>
</div>
