<div class="tile is-child box">
  <h3>haltes</h3>

  {{#firstStop}}
    <!-- First stop at {{node.name}} -->
    <div class="journey-row route-first-stop is-bold">
      <div class="journey-cell is-line">
        <span class="line is-start"></span>
        <span class="icon has-text-primary">
          <i class="fa-solid fa-fw fa-circle-dot"></i>
        </span>
      </div>

      {{#node}}
        {{> components/journey_cell_node_simple}}
      {{/node}}

      {{#platform}}
        {{> components/journey_cell_platform}}
      {{/platform}}
    </div>
  {{/firstStop}}

  <!-- Intermediate stops -->
  {{#intermediateStops}}
    <!-- Intermediate stop at {{node.name}} -->
    <div class="journey-row route-intermediate-stop">
      <div class="journey-cell is-line">
        <span class="line"></span>
        <span class="icon has-text-primary">
          <i class="fa-solid fa-fw fa-circle"></i>
        </span>
      </div>

      {{#node}}
        {{> components/journey_cell_node_simple}}
      {{/node}}

      {{#platform}}
        {{> components/journey_cell_platform}}
      {{/platform}}
    </div>
  {{/intermediateStops}}

  {{#lastStop}}
    <!-- Last stop at {{node.name}} -->
    <div class="journey-row route-last-stop is-bold">
      <div class="journey-cell is-line">
        <span class="line is-end"></span>
        <span class="icon has-text-primary">
          <i class="fa-solid fa-fw fa-circle-dot"></i>
        </span>
      </div>

      {{#node}}
        {{> components/journey_cell_node_simple}}
      {{/node}}

      {{#platform}}
        {{> components/journey_cell_platform}}
      {{/platform}}
    </div>
  {{/lastStop}}
</div>
