<header class="header">
  <img src="/assets/images/header-error.png">
</header>

<div class="box">
  <h3 class="mb-2">pagina niet gevonden</h3>

  <p>De opgegeven pagina kon niet worden gevonden. Als je een link hebt geopend of geplakt in je browser, ga dan na of deze correct is gespeld.</p>

  <ul>
    <li><a href="/" data-navigo>Ga naar de homepage</a></li>
    <li><a href="/meldingen" data-navigo>Bekijk actuele storingen en werkzaamheden</a></li>
  </ul>
</div>
