<header class="header">
  <img src="/assets/images/header-error.png">
</header>

<div class="box has-background-white">
  <h2 class="mb-2">
    <span class="icon-text">
      <span class="icon mr-4">
        <i class="fa-solid fa-circle-exclamation"></i>
      </span>
      <span>er is een fout opgetreden</span>
    </span>
  </h2>

  <p>Tijdens het laden van de opgegeven pagina is een onherstelbare fout opgetreden. Onze ict-experts zijn ervan op de hoogte gebracht en doen er alles aan om deze fout zo snel mogelijk te herstellen. Probeer het later nog eens.</p>

  <ul>
    <li><a href="/" data-navigo>Ga naar de homepage</a></li>
    <li><a href="/meldingen" data-navigo>Bekijk actuele storingen en werkzaamheden</a></li>
  </ul>

  {{#error}}
    <p>De fout heeft de volgende melding gegenereerd:</p>

    <pre class="has-background-danger-light has-text-danger">{{.}}</pre>
  {{/error}}
</div>
