<div class="tile is-child box has-background-white">
  <h2 class="mb-2">
    <span class="icon-text">
      <span class="icon mr-4">
        <i class="fa-solid fa-circle-info"></i>
      </span>
      <span>meldingen</span>
    </span>
  </h2>

  <p>Er zijn {{feed.includedNotifications.length}} meldingen over de actuele situatie in het openbaar vervoer.</p>
</div>
