<div class="tile is-child box">
  <h3>dienstregeling</h3>

  {{#allOwnRoutes}}
    <div class="journey-row">
      {{> components/journey_cell_route}}

      {{#stop.platform}}
        {{> components/journey_cell_platform}}
      {{/stop.platform}}
    </div>
  {{/allOwnRoutes}}

  {{#allTransferRoutes}}
    <h5 class="mt-4">vanaf {{node.modalityNodeName}} {{node.name}}</h5>

    {{#routes}}
      <div class="journey-row">
        {{> components/journey_cell_route}}

        {{#stop.platform}}
          {{> components/journey_cell_platform}}
        {{/stop.platform}}
      </div>
    {{/routes}}
  {{/allTransferRoutes}}
</div>
