<div class="tile is-child box">
  <h2 class="mb-2">
    <span class="icon-text">
      <span class="icon mr-4">
        {{#renderIcon}}{{/renderIcon}}
      </span>
      <span>{{modalityNodeName}} {{name}}</span>
    </span>
  </h2>

  <p>
    {{modalityNodeName}} {{#city}}in {{.}}{{/city}}, bediend door {{allOwnRoutes.length}} lijnen.
  </p>
</div>
