<div class="tile is-child box is-flex-grow-0">
  <h3>overstaphaltes</h3>

  <p>Vanaf deze halte kun je overstappen op de volgende haltes:</p>

  {{#allTransferNodes}}
    <p class="mb-0">
      {{#node}}{{> feed/node_long_link}}{{/node}}
      {{^transfer.direct}}<span class="is-muted"> &middot; indirecte overstap</span>{{/transfer.direct}}
    </p>
  {{/allTransferNodes}}
</div>
