<div class="tile is-child box is-primary">
  <h3 class="has-text-white">goed voorbereid op pad</h3>

  <div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
      {{> pages/home/tickets}}

      {{> pages/home/routes}}
    </div>

    <div class="tile is-6 is-parent">
      {{> pages/home/nodes}}
    </div>
  </div>
</div>
