<div class="tile is-child box {{#feed.severeNotifications.length}}has-background-warning{{/feed.severeNotifications.length}}">
  <h3>er zijn {{feed.includedNotifications.length}} meldingen over de situatie in het ov</h3>

  <a class="button is-dark is-rounded"  href="/meldingen" data-navigo>
    <span>Bekijk de meldingen</span>
    <span class="icon">
      <i class="fa-solid fa-arrow-right"></i>
    </span>
  </a>
</div>
