<div class="tile is-child box">
  <h2 class="mb-2">
    <span class="icon-text">
      <span class="icon mr-4">
        <i class="fa-solid fa-receipt"></i>
      </span>
      <span>tickets</span>
    </span>
  </h2>

  <ul>
    <li>Vervoersbewijzen voor het hele land</li>
    <li>Geldig voor elk vervoersmiddel</li>
    <li>Voordelige dagtickets en aanbiedingen</li>
  </ul>

  <a class="button is-dark is-rounded"  href="/tickets" data-navigo>
    <span>Bekijk alle tickets</span>
    <span class="icon">
      <i class="fa-solid fa-arrow-right"></i>
    </span>
  </a>
</div>
