// Import custom variables
@import 'variables';

// Import the frameworks
@import 'bulma';


// Html layout
html {
  overflow-y: auto;
}

// Body layout
body {
  background: $background;
  min-height: 100vh;
}

// Navbar styling
.navbar {
  @extend .box;
  @extend .is-white;
  @extend .p-2;

  // Navbar item styling
  .navbar-item {
    @extend .has-text-weight-light;
  }

  // Navbar dropdown styling
  .navbar-dropdown {
    @extend .is-shadowless;

    border-top-color: $primary;
  }

  // Navbar brand styling
  .navbar-brand {
    @extend .is-unselectable;

    img {
      max-height: 2.25rem;

      @extend .mr-3;
      @extend .p-0;
    }

    p {
      @extend .is-size-4;
      @extend .has-text-primary;
      @extend .has-text-weight-normal;
    }
  }

  // Navbar burger styling
  .navbar-burger {
    border-bottom: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  // Mavbar menu styling
  .navbar-menu {
    @extend .is-shadowless;
  }
}

// Header styling
.header {
  @extend .block;
  @extend .is-hidden-mobile;

  height: 15rem;

  img {
    @extend .box;
    @extend .p-0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Footer styling
.footer {
  @extend .p-0;

  background: transparent;

  p {
    @extend .block;
    @extend .is-size-7;
    @extend .has-text-centered;
    @extend .has-text-grey;
    @extend .mb-3;
  }
}

// Content styling
.content {
  // Headings
  @for $i from 1 through 6 {
    h#{$i} {
      @if $i <= 2 {
        @extend .has-text-weight-light;
        @extend .has-text-primary;
      }
      @if $i > 2 {
        @extend .has-text-weight-normal;
      }
    }
  }

  // Link
  a.is-plain {
    color: $text;
  }

  // Figure
  figure {
    margin: 0;

    &:not(:first-child) {
      margin-top: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  ul {
    @extend .mt-0;
    @extend .ml-5;
  }

  // Lead text
  .lead {
    @extend .is-size-5;
    @extend .has-text-weight-light;

    b, strong {
      @extend .has-text-weight-medium;
    }
  }
}

// Collapse styling
.collapse {
  display: none;
}

// Journey link styling
.journey-link {
  @extend .box;
  @extend .is-relative;
  @extend .px-3;
  @extend .py-2;

  &.is-active {
    background: $primary-light;
  }

  // Link spacing
  &:not(:last-child) {
    margin-bottom: $media-content-spacing;
  }
}

// Journey details styling
.journey-details {

}

// Journey box styling
.journey-box {
  @extend .box;
  @extend .mb-0;
  @extend .p-2;

  // Route box styling
  &.is-route {
    @extend .has-background-white;
  }

  // Transfer box styling
  &.is-transfer {
    @extend .has-background-light;
    @extend .has-text-grey;
  }

  // Negating border radius
  &:not(:first-child) {
    border-top: 4px solid $light;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  &:not(:last-child) {
    border-bottom: 4px solid $light;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

// Journey row styling
.journey-row {
  @extend .is-flex;
  @extend .is-flex-direction-row;

  max-width: 100%;

  // Bold journey row styling
  &.is-bold {
    @extend .has-text-weight-bold;
  }

  // Journey cell styling
  .journey-cell {
    @extend .p-1;

    // Paragraph styling
    p {
      @extend .mb-0;
    }

    // Time cell
    &.is-time {
      @extend .is-flex-shrink-0;
      @extend .is-flex-grow-0;
      @extend .has-text-right;

      width: 4rem;
    }

    // Line cell
    &.is-line {
      @extend .is-flex-shrink-0;
      @extend .is-flex-grow-0;
      @extend .has-text-centered;

      position: relative;
      line-height: 0px;
      width: 3rem;

      // Line segment
      & > .line {
        @extend .is-block;

        position: absolute;
        left: calc(50% - 2px);
        top: 0;

        margin-top: -4px;
        margin-bottom: -4px;
        height: calc(100% + 8px);

        border-left: 2px solid $primary;
        border-right: 2px solid $primary;

        &.is-start {
          height: calc(100% - 16px);
          top: 24px;
          bottom: 0;
        }

        &.is-end {
          height: 16px;
          top: 0;
          bottom: calc(100% - 24px);
        }
      }

      & > .icon * {
        z-index: 1;
      }
    }

    // Node cell
    &.is-node {
      @extend .is-flex-shrink-0;
      @extend .is-flex-grow-1;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    // Platform cell
    &.is-platform {
      @extend .is-flex-shrink-0;
      @extend .is-flex-grow-0;
      @extend .has-text-weight-bold;

      width: 4.5rem;
    }
  }
}

// Dropdown styling
.dropdown {
  &.is-fullwidth {
    @extend .is-flex;

    .dropdown-trigger, .dropdown-menu {
      width: 100%;
    }
  }

  .dropdown-item {
    @extend .is-flex;
    @extend .is-flex-direction-row;
    @extend .is-align-items-center;

    * {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// Box styling
.box {
  @extend .is-shadowless;
}

// Icon text styling
.icon-text {
  span:not(.icon) {
    text-wrap: wrap;
  }
}

// Route abbreviation styling
.route-abbr {
  @extend .has-text-weight-bold;
  @extend .mr-1;
  @extend .px-1;

  border-radius: 3px;
}

// Cancelled styling
.is-cancelled {
  a {
    @extend .has-text-grey;
  }
}

// Loading styling
.loading-box {
  @extend .box;
  @extend .is-flex;
  @extend .is-flex-direction-column;
  @extend .is-justify-content-center;
  @extend .is-align-items-center;
  @extend .has-background-white;
  @extend .has-text-grey;

  height: 70vh;
}

// Lead styling
.is-lead {
  @extend .is-size-5;
  @extend .has-text-weight-light;
}

// Muted styling
.is-muted {
  @extend .has-text-grey;
  @extend .has-text-weight-normal;
}
