// Import custom variables
@import 'variables';

// Import the frameworks
@import 'bulma';


// Html layout
html {
  overflow-y: auto;
}

// Body layout
body {
  background: $background;
  min-height: 100vh;
}

// Navbar styling
.navbar {
  @extend .box;
  @extend .is-white;
  @extend .p-2;

  // Navbar item styling
  .navbar-item {
    @extend .has-text-weight-light;

    a {
      padding: 4px 0px;
      color: $text;
      border-bottom: none;
    }
  }

  // Navbar brand styling
  .navbar-brand {
    img {
      max-height: 2.25rem;

      @extend .mr-3;
      @extend .p-0;
    }

    p {
      @extend .is-size-4;
      @extend .has-text-primary;
      @extend .has-text-weight-normal;
    }
  }

  // Navbar burger styling
  .navbar-burger {
    border-bottom: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  // Mavbar menu styling
  .navbar-menu {
    @extend .is-shadowless;
  }
}

// Header styling
.header {
  @extend .block;
  @extend .is-hidden-mobile;

  height: 15rem;

  img {
    @extend .box;
    @extend .p-0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Footer styling
.footer {
  @extend .p-0;

  background: transparent;

  p {
    @extend .block;
    @extend .is-size-7;
    @extend .has-text-centered;
    @extend .has-text-grey;
    @extend .mb-3;
  }
}

// Content styling
.content {
  // Headings
  @for $i from 1 through 6 {
    h#{$i} {
      @if $i <= 2 {
        @extend .has-text-weight-light;
        @extend .has-text-primary;
      }
      @if $i > 2 {
        @extend .has-text-weight-normal;
      }
    }
  }

  // Figure
  figure {
    margin: 0;

    &:not(:first-child) {
      margin-top: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  ul {
    @extend .mt-0;
    @extend .ml-5;
  }

  // Lead text
  .lead {
    @extend .is-size-5;
    @extend .has-text-weight-light;

    b, strong {
      @extend .has-text-weight-medium;
    }
  }
}

// Box styling
.box {
  @extend .is-shadowless;
}

// Dropdown styling
.dropdown {
  &.is-fullwidth {
    @extend .is-flex;

    .dropdown-trigger, .dropdown-menu {
      width: 100%;
    }
  }

  .dropdown-item {
    @extend .is-flex;
    @extend .is-flex-direction-row;
    @extend .is-align-items-center;

    * {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


// Route styling
.route {
  @extend .px-1;
}
